<nav>
    <ul class="logo">
        <li class="logo-li"><a href="/" class="logo-text">NodeJs Blog.</a></li>
        <li class="logo-text-sm">A NetNija site</li>
    </ul>
    <ul class="nav">
        <li class="link"><a class="list-item" href="/">Blogs</a></li>
        <li class="link"><a class="list-item" href="/about">About</a></li>
        <li class="link"><a class="list-item" href="/blogs/create">New Blog</a></li>

    </ul>
</nav>