<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
<%- include("./partials/nav.ejs") %>
    <div class="container">
        <h1>About NetNija Blogs</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, harum iste aut laboriosam veritatis maiores tempore ullam expedita enim dolor, necessitatibus natus repellendus repudiandae ad labore minima, dicta saepe non?
        </p>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. In accusantium reiciendis rem temporibus et fugiat, quos quia amet. Quasi ad in eius unde fuga quod, commodi blanditiis saepe officiis illo.
        </p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>

</html>