   body {
       background-color: antiquewhite
   }

   nav {
       display: flex;
       flex-direction: column;
       width: 100%;

   }

   .logo,
   .nav {
       list-style-type: none;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .logo-text {
       font-size: 42px;
       text-decoration: none;
       color: gray;
   }

   .logo-text-sm {
       font-size: 10px;
       font-style: italic;
       letter-spacing: 5px;
       font-weight: 800;
       color: maroon;
       padding: 16px;
   }

   .nav {
       gap: 4px;
   }

   .list-item {
       text-decoration: none;
       display: inline-block;
       width: 100%;
       text-align: center;
       color: rgb(184, 180, 180);
       padding: 10px;
   }

   .list-item:hover {
       color: rgb(78, 78, 78);
       border-bottom: 2px solid gray;
   }

   .site-title {
       font-size: 24px;
       text-align: center;
       color: orangered;
       font-weight: 700;
       padding: 16px;

   }

   .blog {
       padding: 16px;
       margin-bottom: 12px;

   }

   .title {
       padding: 10px;
       font-size: 16px;
       color: rgb(104, 102, 102);
   }

   .content {
       text-align: justify;
       line-height: 1.2;

   }

   .form {
       width: 90%;
       margin: auto;
       background-color: white;
       padding: 12px;
       border-radius: 10px;
   }

   form {
       display: flex;
       flex-direction: column;
       gap: 8px;
   }

   input,
   textarea {
       padding: 8px;
       border-radius: 10px;

   }

   button {
       background-color: orangered;
       color: white;
       padding: 6px;
   }